
.img img {
    width: 100%; /* Adjust the default image size as needed */
      border: 4px solid #febd2e;
    }
  
    .navbar-brand :hover{
      transform: scale(1.1);
      cursor: grab;
      }

      .navbar-brand2 .img {
        transition: transform 1s ease;
      }
      
      .navbar-brand2 img:hover {
        transform: scale(1.1);
      }

      .theme:hover{
        text-shadow: 2px 2px 4px  #38452ed5;
        cursor: pointer;
        transform: scale(1.1);
      }

      .second-title:hover{
        text-shadow: 2px 2px 4px  #38452ed5;
        cursor: pointer;
      }

      .img img:hover {
        box-shadow: 2px 3px 4px  #38452ed5;
        cursor: grab;
        transition: transform 0.3s ease, border 0.3s ease;
        transform: scale(1.05);
      }

      .center-section:hover, .text:hover{
        text-shadow: 2px 2px 4px  #38452ed5;
        cursor: pointer;
      }

      .nav-item a{
        color: white;
      }
    
      .nav-item a:hover{
        color: white;
      }
    
      .nav-item:hover{
        color: white;
        text-shadow: 2px 2px 4px  #38452ed5;
        cursor: pointer;
      }




    h0,h1,h3{
      color: #febd2e;
    }

  /* Media query for mobile devices */
  @media (max-width: 576px) {
    .img img {
      width: 90%; /* Adjust the image size for mobile devices */
    }
  }

  /* Media query for mobile devices */
  @media (min-width: 576px) {
    .img img {
      width: 50%; /* Adjust the image size for mobile devices */
      margin: 0 5%;
    }
  }


  /* Media query for laptop or desktop screens */
  @media (min-width: 992px) {
    .img img {
      width: 80%; /* Adjust the image size for laptop or desktop screens */
    }
  }

  body {
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #5b7745;
    color: white;
  }

  h1,h2,h0,h3{
    font-family: "cooper-black-std", serif;
    font-weight: 400;
    font-style: normal;
  }


  p, .nav-link ,.nav .nav-item a{
    font-family: "baileywick-jf-gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h0,h1,h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
  }
  
  .img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .img img{
    border-radius: 10%;
  }

  .center-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }


  .col-7,
  .col-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  p, h3{
    font-size: 1rem;
  }


  .footer{
    color: white;
    margin: 0%;
  }


  .float-end a {
    color: white;
    text-decoration: none;
  }
  
  .float-end:hover {
    color: #febd2e;
  }
  
  h3{
    color: #febd2e;
    font-size: larger;
  }

  .scroll-effect {
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 1s ease-out forwards;
  }
  
  ul {
    list-style: none;
  }
  
  .scroll-effect {
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 1s ease-out forwards;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }



  nav .navbar-brand img {
    width: 70px; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
  }
  
  @media (max-width: 576px) {
    nav .navbar-brand img {
      width: 70px; /* Keep the original width */
      height: 70px; /* Keep the original height */
    }
  }

@media (max-width: 576px) {
  .navbar-brand2 img {
    width: 50%; /* Adjust the width as needed */
  }
}